<div class='container'>
    <div class="row">
        <div (click)='navigateTo("admin")' class="col-lg-4 col-md-4 col-sm-4 col-12">
            <div class="card">
                <img class="card-img-top" src="../../assets/images/avatar5.png" alt="image" style="width:100%">
                <div class="card-body admin">
                    Admin
                </div>
            </div>
        </div>
        <div (click)='navigateTo("doctor")' class="col-lg-4 col-md-4 col-sm-4 col-12">
            <div class="card">
                <img class="card-img-top" src="../../assets/images/doctor-avatar-2.png" alt="image" style="width:100%">
                <div class="card-body doctor">
                    Doctor
                </div>
            </div>
        </div>
        <div (click)='navigateTo("patient")' class="col-lg-4 col-md-4 col-sm-4 col-12">
            <div class="card">
                <img class="card-img-top" src="../../assets/images/avatar-patient.png" alt="image" style="width:100%">
                <div class="card-body patient">
                    Patient
                </div>
            </div>
        </div>
    </div>
</div>